# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [67]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
import pandas as pd

spark = SparkSession.builder.appName("Fictitous_names").getOrCreate()

### Step 2. Create the 3 DataFrames based on the following raw data

In [68]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [69]:
data1 = spark.createDataFrame(pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name']))
data2 = spark.createDataFrame(pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name']))
data3 = spark.createDataFrame(pd.DataFrame(raw_data_3, columns = ['subject_id','test_id']))

In [70]:
data3.show()

+----------+-------+
|subject_id|test_id|
+----------+-------+
|         1|     51|
|         2|     15|
|         3|     15|
|         4|     61|
|         5|     16|
|         7|     14|
|         8|     15|
|         9|      1|
|        10|     61|
|        11|     16|
+----------+-------+

### Step 4. Join the two dataframes along rows and assign all_data

In [71]:
all_data = data1.union(data2)

In [72]:
all_data.show()

+----------+----------+---------+
|subject_id|first_name|last_name|
+----------+----------+---------+
|         1|      Alex| Anderson|
|         2|       Amy| Ackerman|
|         3|     Allen|      Ali|
|         4|     Alice|     Aoni|
|         5|    Ayoung|  Atiches|
|         4|     Billy|   Bonder|
|         5|     Brian|    Black|
|         6|      Bran|  Balwner|
|         7|     Bryce|    Brice|
|         8|     Betty|   Btisan|
+----------+----------+---------+

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [73]:
all_data_col = data1.join(data2, data1.subject_id == data2.subject_id, how='outer')

In [74]:
all_data_col.show()

+----------+----------+---------+----------+----------+---------+
|subject_id|first_name|last_name|subject_id|first_name|last_name|
+----------+----------+---------+----------+----------+---------+
|         1|      Alex| Anderson|      null|      null|     null|
|         2|       Amy| Ackerman|      null|      null|     null|
|         3|     Allen|      Ali|      null|      null|     null|
|         4|     Alice|     Aoni|         4|     Billy|   Bonder|
|         5|    Ayoung|  Atiches|         5|     Brian|    Black|
|      null|      null|     null|         6|      Bran|  Balwner|
|      null|      null|     null|         7|     Bryce|    Brice|
|      null|      null|     null|         8|     Betty|   Btisan|
+----------+----------+---------+----------+----------+---------+

### Step 6. Print data3

In [75]:
data3.show()

+----------+-------+
|subject_id|test_id|
+----------+-------+
|         1|     51|
|         2|     15|
|         3|     15|
|         4|     61|
|         5|     16|
|         7|     14|
|         8|     15|
|         9|      1|
|        10|     61|
|        11|     16|
+----------+-------+

### Step 7. Merge all_data and data3 along the subject_id value

In [76]:
all_data.join(data3, all_data.subject_id == data3.subject_id, how='inner').drop(data3.subject_id).show()

+----------+----------+---------+-------+
|subject_id|first_name|last_name|test_id|
+----------+----------+---------+-------+
|         1|      Alex| Anderson|     51|
|         2|       Amy| Ackerman|     15|
|         3|     Allen|      Ali|     15|
|         4|     Alice|     Aoni|     61|
|         4|     Billy|   Bonder|     61|
|         5|    Ayoung|  Atiches|     16|
|         5|     Brian|    Black|     16|
|         7|     Bryce|    Brice|     14|
|         8|     Betty|   Btisan|     15|
+----------+----------+---------+-------+

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [77]:
data1.join(data2, data1.subject_id == data2.subject_id).show()

+----------+----------+---------+----------+----------+---------+
|subject_id|first_name|last_name|subject_id|first_name|last_name|
+----------+----------+---------+----------+----------+---------+
|         4|     Alice|     Aoni|         4|     Billy|   Bonder|
|         5|    Ayoung|  Atiches|         5|     Brian|    Black|
+----------+----------+---------+----------+----------+---------+

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [78]:
data1.join(data2, data1.subject_id == data2.subject_id, how='outer').show()

+----------+----------+---------+----------+----------+---------+
|subject_id|first_name|last_name|subject_id|first_name|last_name|
+----------+----------+---------+----------+----------+---------+
|         1|      Alex| Anderson|      null|      null|     null|
|         2|       Amy| Ackerman|      null|      null|     null|
|         3|     Allen|      Ali|      null|      null|     null|
|         4|     Alice|     Aoni|         4|     Billy|   Bonder|
|         5|    Ayoung|  Atiches|         5|     Brian|    Black|
|      null|      null|     null|         6|      Bran|  Balwner|
|      null|      null|     null|         7|     Bryce|    Brice|
|      null|      null|     null|         8|     Betty|   Btisan|
+----------+----------+---------+----------+----------+---------+